<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black"
    />
    <title><%= title %></title>
    <meta name="title" content="<%= title %>" />
    <meta name="application-name" content="Profile" />
    <meta name="description" content="<%= description %>" />
    <link
      href="./styles/dark.css"
      rel="stylesheet"
      media="(prefers-color-scheme: dark)"
    />
    <link
      href="./styles/light.css"
      rel="stylesheet"
      media="(prefers-color-scheme: light)"
    />
    <link href="./styles/body.css" rel="stylesheet" />
    <link
      href="./styles/tablet.css"
      rel="stylesheet"
      media="(min-device-width: 768px) and (max-device-width: 1024px)"
    />
    <link
      href="./styles/mobile.css"
      rel="stylesheet"
      media="(min-device-width: 320px) and (max-device-width: 480px)"
    />
    <link
      href="./styles/desktop.css"
      rel="stylesheet"
      media="(min-device-width: 1024px)"
    />
  </head>
  <body>
    <article class="scroller">
      <section class="full-page" id="home">
        <h1><%= title %></h1>
        <h5><%= subtitle %></h5>
      </section>
      <section class="full-page" id="experience">
        <ul class="experience-list">
          <% experienceList.forEach(function(experience){ %> <%-
          include('src/experience', { experience: experience }); %> <% }); %>
        </ul>
      </section>
      <section class="full-page" id="skills"></section>
      <section class="full-page" id="social"></section>
    </article>
  </body>
</html>
